repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.6
    hooks:
      - id: ruff
        args: [ "--fix" ]
        files: ^tuto/.*\.py$
      - id: ruff-format
        files: ^tuto/.*\.py$
